html,
body {
    margin: 0;
    padding: 0;
    height: 100%; /* Ensures full height for correct layout calculations */
}
body {
    background: var(--body-bg);
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures body takes up full viewport height */
}

:root {
    --body-bg: #212529;
    --def-transition-duration: 0.3s;
}

footer {
    margin-top: auto; /* Pushes the footer to the bottom */
}
html {
    overflow-x: hidden; /* Prevents horizontal scrolling */
}
/*Navbar*/
.navbar .dropdown-toggle:focus,
.navbar .dropdown-toggle:active {
    outline: none !important;
    box-shadow: none !important;
}
/*homepage Video*/
.homepage-video {
    position: relative;
    min-height: 80vh;
    width: 100%;
    overflow: hidden;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80vh;
    object-fit: cover;
    z-index: -1;
    pointer-events: none;
    display: block;
}

.video-content {
    position: relative;
    z-index: 1;
    padding-top: 25vh;
    padding-left: 10vw;
    padding-right: 10vw;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}
.homepage-video::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(29, 33, 36, 0.5);
    z-index: 0;
}

@media (max-width: 768px) {
    .video-content {
        padding: 3rem 1rem;
        margin: 0;
    }

    .homepage-video {
        height: 75vh;
    }
}
.next-section {
    padding-top: 3rem;
}
.dropdown .btn-orange {
    color: #f9ecec;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    background-color: #fb5f09;
    border-radius: 0.4rem;
    transition: 0.8s;
}
.dropdown .btn-orange:hover,
.dropdown .btn-orange:focus,
.dropdown .btn-orange:active {
    background-color: #390d46;
    border-color: #390d46;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    border-radius: 0.4rem;
}

.btn-purple .dropdown-item:hover {
    background-color: #fb5f09;
    border-radius: 0.4rem;
}
.nav-btn-purple {
    color: #f9ecec;
    font-weight: 800;
    background-color: #390d46;
    border: #390d46 4px solid;
    transition: 0.8s;
}
.nav-btn-purple .dropdown-item:hover {
    background-color: #fb5f09;
    border-color: #fb5f09 4px solid;
    color: #f9ecec;
}
.btn-modal-purple {
    color: #f9ecec;
    font-weight: 800;
    background-color: #390d46;
    border: #390d46 1px solid;
    transition: 0.8s;
}
.btn-modal-purple:hover {
    background-color: #000000;
    border: #390d46 1px solid;
    color: #e0d6e3;
}
.modal-header {
    border-bottom: solid 1px #5f6a74 !important;
}
.modal-footer {
    border-top: solid 1px #5f6a74 !important;
}
.border-3 {
    border: 3px solid;
}
.bg-purple {
    background-color: #390d46;
}
.bg-sandy {
    background-color: #e7e4da;
}
.text-sandy {
    color: rgb(226, 219, 210);
}
.btn-orange {
    color: #f9ecec;
    font-weight: 800;
    background-color: #fb5f09;
    border-color: #fb5e0a 4px solid;
    transition: 0.8s;
}
.btn-orange:hover {
    background-color: black;
    border-color: #000000 4px solid;
    color: #fb5f09;
}
.btn-purple {
    color: #f9ecec;
    font-weight: 800;
    background-color: #390d46;
    border: #390d46 4px solid;
    transition: 0.8s;
}
.btn-purple:hover {
    background-color: #00000000;
    border: #000000 4px solid;
    color: #000;
}
.btn-top-margin-10 {
    margin-top: 10px;
}
.angled-background-orange-5 {
    --skew-angle: -3deg;
    --skew-angle-8: -5deg;
    --background: /*linear-gradient(
        45deg, 
        #12c2e9, 
        #c471ed, 
        #f64f59);*/ #fb5f09cc;
    position: relative;
    color: #212529;
    isolation: isolate;
}
.angled-background-orange-5::after {
    content: "";
    background: var(--background);
    position: absolute;
    z-index: -1;
    inset: 0;
    transform: skewY(var(--skew-angle));
}
.angled-background-orange-5::before {
    content: "";
    background: var(--background);
    position: absolute;
    z-index: -1;
    inset: 0;
    transform: skewY(var(--skew-angle-8));
}
.collapse-section {
    max-height: 0;
    overflow: hidden;
    margin-top: 10px;
    transition: max-height 0.5s ease;
}

.collapse-section.open {
    max-height: 500px; /* adjust if needed */
}
/*Newsletter Youtube Video*/
.video-wrapper {
    max-width: 600px;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.video-wrapper iframe {
    height: 100%;
    border: none;
    display: block;
}

.video-wrapper:hover {
    transform: scale(1.03);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
}
/* posts cards */

@media (max-width: 768px) {
    .card-holder {
        width: 80vw; /* responsive width on small screens */
    }
}
.card-holder {
    position: relative;
    margin: 0;
    overflow: hidden;
}

.card-holder .post-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-holder .post-img {
    transform: scale(1.2);
    transition-property: transform;
}
.card-holder:hover .post-img {
    transform: scale(1);
}
.card-caption {
    position: absolute;
    inset: 0;
    pointer-events: none;
    padding: 2rem 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 2rem;
    z-index: 1;
}
.card-holder main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
    transform: translate3d(0, -6rem, 0);
    transition-property: opacity, transform;
}
.card-holder p {
    margin: 0;
}
.card-holder footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    transform: translate3d(0, 6rem, 0);
    transition-property: opacity, transform;
}
.card-holder:hover main,
.card-holder:hover footer {
    transform: translate3d(0, 0, 0);
}
.card-holder footer img {
    width: auto;
    transform: translate3d(-3rem, 0, 0) rotate(360deg);
    transition-property: transform, opacity;
    transition-delay: var(--def-transition-duration);
    opacity: 0;
}
.card-holder:hover footer img {
    transform: translate3d(0, 0, 0) rotate(0deg);
    opacity: 1;
}
.card-holder main,
.card-holder footer {
    opacity: 0;
}
.card-caption::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        180deg,
        rgba(21, 22, 24, 0.24) 0%,
        #151618 100%
    );
    z-index: -1;
    opacity: 0;
    transition-property: opacity;
}
.card-holder:hover main,
.card-holder:hover footer,
.card-holder:hover .card-caption::before {
    opacity: 1;
}

.card-caption::before,
.card-holder .post-img,
.card-holder main,
.card-holder footer,
.card-holder footer img {
    transition-duration: var(--def-transition-duration);
    transition-timing-function: ease-in-out;
}
.item-card {
    flex: 0 0 auto; /* don't shrink, stay fixed width */
    width: 600px;
    height: 300px;
    scroll-snap-align: start;
}
.scroll-container {
    margin-left: 1rem;
    margin-bottom: 1rem;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch; /* smooth on iOS */
}

/*Spikes of Footer*/

.spikes {
    --spike-width: 50px;
    --spike-height: 40px;
    --spike-color: var(--body-bg);
    position: relative;
    background-color: #e7e4da;
    color: hsl(48, 12%, 92%);
}
.spikes::before {
    content: "";
    position: absolute;
    width: 100%;
    height: var(--spike-height);
    background: var(--spike-color);
    z-index: 1;
    -webkit-mask-image: url("../img/triangle.svg");
    /* -webkit-mask-repeat: repeat-x; */
    mask-image: url("../img/triangle.svg");

    filter: drop-shadow(0 15px 20px rgba(0, 0, 0, 0.2));
}
.footer-spike {
    --spike-width: 50px;
    --spike-height: 40px;
    --spike-color: var(--body-bg);
    background-color: var(--body-bg);
    position: relative;
}
.footer-spike::before {
    content: "";
    position: absolute;
    width: 100%;
    height: var(--spike-height);
    background: var(--spike-color);
    z-index: 10;
    -webkit-mask-image: url("../img/triangle.svg");
    /* -webkit-mask-repeat: repeat-x; */
    mask-image: url("../img/triangle.svg");
    /* mask-repeat: repeat-x; */
    transform: rotate(0.5turn);
    top: -40px;
}
.carousel-box #CarouselBox {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 100vw;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 5;
    --middle: 3;
    --position: 1;
    pointer-events: none;
}
.item img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 15px;
}
.name {
    margin-bottom: 2px;
    color: #8c52ff;
}

.occupation {
    font-style: italic;
    margin-top: 2px;
}
div.item {
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
    position: absolute;
    width: 300px;
    height: 250px;
    background-color: white;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r)))
        translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
}
div.item:nth-of-type(1) {
    --offset: 1;
}
div.item:nth-of-type(2) {
    --offset: 2;
}
div.item:nth-of-type(3) {
    --offset: 3;
}

input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

input:nth-of-type(1):checked ~ .carousel-box#CarouselBox {
    --position: 1;
}

input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
input:nth-of-type(2):checked ~ .carousel-box#CarouselBox {
    --position: 2;
}

input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
}
input:nth-of-type(3):checked ~ .carousel-box#CarouselBox {
    --position: 3;
}
