html,
body {
    margin: 0;
    padding: 0;
    height: 100%; /* Ensures full height for correct layout calculations */
}
body {
    background: var(--body-bg);
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures body takes up full viewport height */
    color: rgb(226, 219, 210);
}
:root {
    --body-bg: #212529;
}

footer {
    margin-top: auto; /* Pushes the footer to the bottom */
}
html {
    overflow-x: hidden; /* Prevents horizontal scrolling */
}
.border-3 {
    border: 3px solid;
}
.bg-purple {
    background-color: #390d46;
}
.btn-orange {
    color: #f9ecec;
    font-weight: 800;
    background-color: #fb5f09;
    border-color: #fb5e0a;
    transition: 0.8s;
}
.btn-orange:hover {
    background-color: black;
    border-color: #000000;
    color: #fb5f09;
}
.btn-purple {
    color: #f9ecec;
    font-weight: 800;
    background-color: #390d46;
    border-color: #390d46 4px solid;
    transition: 0.8s;
}
.btn-purple:hover {
    background-color: #00000000;
    border-color: #000000;
    border: #000000 4px solid;
    color: #000;
}
.btn-top-margin-10 {
    margin-top: 10px;
}
.angled-background-orange-5 {
    --skew-angle: -3deg;
    --skew-angle-8: -5deg;
    --background: /*linear-gradient(
        45deg, 
        #12c2e9, 
        #c471ed, 
        #f64f59);*/ #fb5f09cc;
    position: relative;
    color: #212529;
    isolation: isolate;
}
.angled-background-orange-5::after {
    content: "";
    background: var(--background);
    position: absolute;
    z-index: -1;
    inset: 0;
    transform: skewY(var(--skew-angle));
}
.angled-background-orange-5::before {
    content: "";
    background: var(--background);
    position: absolute;
    z-index: -1;
    inset: 0;
    transform: skewY(var(--skew-angle-8));
}
.spikes {
    --spike-width: 50px;
    --spike-height: 40px;
    --spike-color: var(--body-bg);
    position: relative;
    background-color: #e7e4da;
    color: hsl(48, 12%, 92%);
}
.spikes::before {
    content: "";
    position: absolute;
    width: 100%;
    height: var(--spike-height);
    background: var(--spike-color);
    z-index: 1;
    -webkit-mask-image: url("../img/triangle.svg");
    /* -webkit-mask-repeat: repeat-x; */
    mask-image: url("../img/triangle.svg");

    filter: drop-shadow(0 15px 20px rgba(0, 0, 0, 0.2));
}
.footer-spike {
    --spike-width: 50px;
    --spike-height: 40px;
    --spike-color: var(--body-bg);
    background-color: var(--body-bg);
    position: relative;
}
.footer-spike::before {
    content: "";
    position: absolute;
    width: 100%;
    height: var(--spike-height);
    background: var(--spike-color);
    z-index: 10;
    -webkit-mask-image: url("../img/triangle.svg");
    /* -webkit-mask-repeat: repeat-x; */
    mask-image: url("../img/triangle.svg");
    /* mask-repeat: repeat-x; */
    transform: rotate(0.5turn);
    top: -40px;
}
.carousel-box #CarouselBox {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 100vw;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 5;
    --middle: 3;
    --position: 1;
    pointer-events: none;
}
.item img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 15px;
}
.name {
    margin-bottom: 2px;
    color: #8c52ff;
}

.occupation {
    font-style: italic;
    margin-top: 2px;
}
div.item {
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
    position: absolute;
    width: 300px;
    height: 250px;
    background-color: white;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r)))
        translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
}
div.item:nth-of-type(1) {
    --offset: 1;
}
div.item:nth-of-type(2) {
    --offset: 2;
}
div.item:nth-of-type(3) {
    --offset: 3;
}

input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

input:nth-of-type(1):checked ~ .carousel-box#CarouselBox {
    --position: 1;
}

input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
input:nth-of-type(2):checked ~ .carousel-box#CarouselBox {
    --position: 2;
}

input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
}
input:nth-of-type(3):checked ~ .carousel-box#CarouselBox {
    --position: 3;
}
